.App ul {
  display: flex;
  list-style: none;
  color: rgb(170, 27, 27);
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}
.App ul li {
  padding: 1rem 2rem;
  margin-right: 20px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1.5rem;
}
.App ul li:hover {
  color: rgb(0, 128, 100);
  border: 1.5px solid blanchedalmond;
}
.Output {
  margin:15% 35%;
  color:olivedrab;
  font-weight: bolder;
  font-size: xx-large;
}
